{% extends "layout.html" %}

{% block body %}
  <div class="blog-header"></div>
  <div class="row">

    <!-- order placement -->
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading" ><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;Order Placement</div>
        <div class="panel-body">
          1. choose from orders<br>
          2. accept customer basic information <br>
          3. place order<br>
        </div>
      </div>
    </div>

    <!-- Capturing Customer Information -->
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading" ><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Capturing Customer Information</div>
        <div class="panel-body">
          1. collect data received over a week<br>
          2. Begin importing data into our system <br>
          3. Address cleansing, validation, match<br>
        </div>
      </div>
    </div>

    <!-- Data Segmentation -->
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading" ><i class="fa fa-database" aria-hidden="true"></i>&nbsp;Data Segmentation</div>
        <div class="panel-body">
          1. add demographics attribute to the data<br>
          2. export data in a summary form<br>
          3. send data to market campaigning system<br>
        </div>
      </div>
    </div>

    <!-- Marketing Campaign -->
    <div class="col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading" ><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Marketing Campaign</div>
        <div class="panel-body">
          1. portrait capabilities<br><br><br>
        </div>
      </div>
    </div>

    <!-- Analytics -->
    <div class="col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading" ><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;Analytics</div>
        <div class="panel-body">
          1. Relevant Trends<br>
          2. Importing feedback of a history market campaign to further enrich data <br><br>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block individual %}
  <div class="container-fluid">
    <div class="blog-header">
      <h1 class="blog-title">Designed to take teamwork to the next level</h1>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <p>{}.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
  <script>
    function getTweets(){
        var txt = $('#txtHashtag').text();
        if(!txt || !txt.trim()){
          alert('please provide valid search text');
          return;
        }

        $.ajax({
            url:'search',
            data:{'text': txt}
        })
        .done(function(data){
            debugger;
            console.log(data);
        })
        .fail(function(xhr, j, q){
            debugger;
        });
    }
  </script>

{% endblock %}
